@import "../../index.scss";

.art {
    background: $mainLightGrey;
    color: $mainBlack;
    margin: 2rem 0;
    img {
        width: 100%;
        display: block;
        min-height: 13rem;
        border-radius: 10px;
        opacity: 0.8;
    }
}
@media screen and (min-width: 768px) {
    .art {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 1rem;
        border-radius: 15px;
        padding: 40px;
    }
}
.img-container {
    position: relative;
}
.close-btn {
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    color: $mainColor;
    font-size: 2rem;
    cursor: pointer;
    transition: $mainTransition;
    opacity: 0;
}
.img-container:hover .close-btn {
    opacity: 1;
}
.art-info {
    padding: 1rem 1rem 0rem 1rem;
    margin-top: 0px;
    h3{
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $mainBlack;
        font-family: 'Unica One', cursive;
        font-size: 34px;
    }
    h4 {
        color: $mainColor;
        text-transform: capitalize;
                margin: 0.2rem 0 0.6rem 0;
    }
    h5 {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1rem;
        height: 2rem;
        color: $mainDarkGrey;

        span{
            color: $mainDarkGrey;
            font-size: 16px;
            cursor: pointer;
        }
    }
}