* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

$mainBlack: #333;
$mainDarkGrey: #bbb;
$mainWhite: #f1f1f1;
$mainLightGrey: #fff;
$mainColor: #a464df;
$mainTransition: all 0.3s linear;

.far {
  color: $mainColor;
}

.fab {
margin-left: 1rem;

}

body {
  font-family: 'Karla', sans-serif;
  background-image: url(./ripples.png);
  color: $mainLightGrey;
}

h1 {
  color: $mainBlack;
  font-family: 'Unica One', cursive;

  font-size: 82px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}